.formWrapper {
    margin: 20px;
}
#formTitle {
    margin: 5px;
    height: 20px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
}
#formText {
    margin: 5px;
    height: 60px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
}
#formImg{
    margin: 5px;
    margin-top: 2px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
}
#formSpotify{
    margin: 5px;
    margin-top: 2px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
}
#formApple {
    margin: 5px;
    margin-top: 2px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
}
.checkboxCave {
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid rgba(167, 171, 255, 0.602);
    border-radius: 5px;
    font-size: 15px;
    width: 110px;
}
.add-post {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(167, 171, 255, 0.602);
    font-size: 25px;
}