.UI-button_size-s {
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: small;
}
.UI-button_size-m {
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: medium;
}
.UI-button_size-l {
    height: 70px;
    padding: 20px;
    text-align: center;
    font-size: large;
}
.UI-button_color-grey {
    background-color: rgb(163, 163, 163);
}
.UI-button_color-black {
    background-color: black;
}
.UI-button_color-red {
    background-color: rgba(255, 0, 0, 0.416);
}