.UI-button_size-s {
    height: 20px;
    padding: 5px;
    text-align: center;
    font-size: small;
    border-radius: 3px;
}
.UI-button_size-m {
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
}
.UI-button_size-l {
    height: 70px;
    padding: 20px;
    text-align: center;
    font-size: large;
    border-radius: 20px;
}
.UI-button_color-grey {
    background-color: rgba(174, 174, 174, 0.55);
}
.UI-button_color-black {
    background-color: black;
}
.UI-button_color-red {
    background-color: rgba(255, 0, 0, 0.416);
}