.UI-button_size-s {
height: 20px;
width: 20px;
text-align: center;
font-size: small;
}
.UI-button_size-m {
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: medium;
}
.UI-button_size-l {
    height: 150px;
    width: 300px;
    text-align: center;
    font-size: large;
}
.UI-button_color-white {
    background-color: white;
    }
.UI-button_color-black {
    background-color: black;
    }
.UI-button_color-red {
    background-color: red;
    }