.modal {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    width: 80%;
    height: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}