body {
    font-family: Arial, Helvetica, sans-serif;
  }

img {
    margin: 25px;
    width: 150px;
    height: 150px;
}

.postWrapper { 
    display: flex; 
    flex-direction: row;
    position: relative;
    padding: 20px;
}

.textWrapper {
    display: flex; 
    flex-direction: column;
    margin-left: 25px;
}

h1 {
    font-size: 35px;
    margin: 0, 0, 20px, 20px;
}

h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-right: 40px;
}

p {
    margin-right: 40px;
}

.cross {

    position: absolute;
    right: 10px;
    top: 10px;
}

.postOverlay {
    background-color: rgba(119, 199, 199, 0.4);
}

a {
    margin: 5px;

}

.formWrapper {
    display: flex;
    flex-direction: column;
}